*{
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

:root{
  --azul-claro:#2685BF;
  --azul-escuro:#164F73;
  --azul:#035AA6;
  --branco:#F2F2F2;
  --preto:#262626;
}

body{
  font-family: sans-serif;
  background-color: var(--azul-escuro);
}

button{
  cursor: pointer;
}

